// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: rgb(200, 200, 200) !default;
$thumb-color: rgb(120, 120, 120) !default;
$thumb-border-width: 12px !default;
$thumb-border-color: hsl(180, 40%, 25%) !default;
$contrast: 5% !default;
$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin track {
  // cursor: pointer;
}

@mixin thumb {
  
  // box-sizing: border-box;
  // $margin-border-adjust: #{ 0px - ( $thumb-border-width / 2 ) };
  // margin: $margin-border-adjust 0 0;
  background: $thumb-color;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  // border: $thumb-border-width solid $thumb-color;
  // cursor: pointer;

}

[type='range'] {
  // -webkit-appearance: none;
  background: transparent;


  &::-moz-focus-outer {
  }

  &:focus {

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    background: $track-color;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    // -webkit-appearance: none;
    
    @include track;
    background: $thumb-color;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    
  }

  &::-ms-fill-lower {
    background: $ie-bottom-track-color;
  }

  &::-ms-fill-upper {
    background: $track-color;
  }

  &::-ms-thumb {
    @include thumb;
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}
