<div class="about-container">
  <img src="assets/img/COVID-19-Watch-Jumbotron.jpg" class="img-fluid" width="100%">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <br><br>
        <h1>About</h1>
        <br>
        <p><a href="/" class="text-link">COVID-19-Watch</a> is a public online tool to provide direct access to local, easy-to-understand COVID-19 data.</p>
        <br>

        <p><strong>Key Features:</strong></p>
        <ul>
          <li><a href="/about#find-and-share" class="text-link">Find and share</a> - Quickly find and share local COVID-19 status reports for anywhere in the nation</li>
          <li><a href="/about#change-over-time" class="text-link">Change over time</a> - Explore change in COVID-19 data over time</li>
          <li><a href="/about#local-state-national" class="text-link">Local, state, and national</a> - Explore data and trends at local, state, and national levels</li>
          <li><a href="/about#up-to-date-data" class="text-link">Up-to-date data</a> - Data is pulled daily from Johns Hopkins</li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 display-image">
        <img src="assets/img/app-home.jpg" class="img-fluid">
        <p>Initial view: map of new COVID-19 cases</p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 display-image">
        <img src="assets/img/app-use.jpg" class="img-fluid">
        <p>Local Status Reports updated daily</p>
      </div>
      <div class="col-6 col-md-2 display-image">
        <img src="assets/img/app-home-mobile.jpg" class="img-fluid">
        <p>Initial view (Mobile)</p>
      </div>
      <div class="col-6 col-md-2 display-image">
        <img src="assets/img/app-use-mobile.jpg" class="img-fluid">
        <p>National Status Report (Mobile)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <p>Access:</p>
        <ul>
          <li><a href="https://www.covid-19-watch.com" class="text-link">www.covid-19-watch.com</a></li>
          <li><a href="https://covid-19-watch.herokuapp.com" class="text-link">covid-19-watch.herokuapp.com</a> - Alternative, sometimes better for firewalls</li>
        </ul>

        <p>Project Information:</p>
        <ul>
          <li><a href="/about#development" class="text-link">Development</a></li>
          <li><a href="/about#author" class="text-link">Author</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <h2 id="find-and-share">Find and Share</h2>
        <p>Find a COVID-19 Status Report by using the search bar to search the U.S., or type "USA" for the national Status Report. You can also click the map to see the local or state Status Report.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 display-image">
        <img src="assets/img/function-find-and-share-1.jpg" class="img-fluid">
        <p>Use the search bar or click the map to find a COVID-19 Status Report</p>
      </div>
      <div class="col-md-4 display-image">
        <img src="assets/img/function-find-and-share-2.jpg" class="img-fluid">
        <p>Status Reports are catered to specific regions</p>
      </div>
      <div class="col-md-4 display-image">
        <img src="assets/img/function-find-and-share-3.jpg" class="img-fluid">
        <p>You can send a direct link to a particular Status Report using the URL at the bottom</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h2 id="change-over-time">Change Over Time</h2>
        <p>Use the "play" button and time-slider in the bottom-right to step back in time, allowing you to view historical data back to February 2020. The map and Status Reports are coordinated to change with the date.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 display-image">
        <img src="assets/img/function-change-over-time-1.jpg" class="img-fluid">
        <p>March 21, 2020</p>
      </div>
      <div class="col-6 col-md-3 display-image">
        <img src="assets/img/function-change-over-time-2.jpg" class="img-fluid">
        <p>March 28, 2020</p>
      </div>
      <div class="col-6 col-md-3 display-image">
        <img src="assets/img/function-change-over-time-3.jpg" class="img-fluid">
        <p>April 4, 2020</p>
      </div>
      <div class="col-6 col-md-3 display-image">
        <img src="assets/img/function-change-over-time-4.jpg" class="img-fluid">
        <p>April 11, 2020</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h2 id="local-state-national">Local, State, and National</h2>
        <p>Search for a town, city, or county to get a local Status Report. You can also search for a state or search "USA" for a national status report.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 display-image">
        <img src="assets/img/function-local-state-national-1.jpg" class="img-fluid">
        <p>Local: search or click the map</p>
      </div>
      <div class="col-md-4 display-image">
        <img src="assets/img/function-local-state-national-2.jpg" class="img-fluid">
        <p>State: search or click the map</p>
      </div>
      <div class="col-md-4 display-image">
        <img src="assets/img/function-local-state-national-3.jpg" class="img-fluid">
        <p>National: search "USA"</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h2 id="up-to-date-data">Up-to-Date Data</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h2 id="development">Development</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h2 id="author">Author</h2>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>
