<div class="trend-map-container">

  <div class="header">
    <div class="title-section">
      <img class="logo" src="assets/img/covid-watch-compass-128px.png">
      <div class="header-title-text">COVID-19-Watch</div>
    </div>
    <div class="about-section">
      <div ngbDropdown placement="bottom-right">
        <button class="btn" id="about-dropdown" ngbDropdownToggle><span class="about-label">About </span><fa-icon [icon]="faBars"></fa-icon></button>
        <div ngbDropdownMenu aria-labelledby="about-dropdown">
          <a href="/about" target="_blank" ngbDropdownItem>About COVID-19-Watch <fa-icon [icon]="faExternalLinkAlt"></fa-icon></a>
          <div ngbDropdownItem class="dropdown-item-separator"></div>
          <a ngbDropdownItem class="dropdown-layer-label">How-to:</a>
          <a href="/about#find-and-share" target="_blank" ngbDropdownItem>&nbsp; Find and Share</a>
          <a href="/about#local-state-national" target="_blank" ngbDropdownItem>&nbsp; Local, State, and National</a>
          <a href="/about#change-over-time" target="_blank" ngbDropdownItem>&nbsp; Change over Time</a>
          <div ngbDropdownItem class="dropdown-item-separator"></div>
          <a ngbDropdownItem class="dropdown-layer-label">About:</a>
          <a href="/about#up-to-date-data" target="_blank" ngbDropdownItem>&nbsp; The Data</a>
          <a href="/about#key-technologies-services" target="_blank" ngbDropdownItem>&nbsp; Key Technologies and Services</a>
          <a href="/about#development-author" target="_blank" ngbDropdownItem>&nbsp; Development & Author</a>
          <div ngbDropdownItem class="dropdown-item-separator"></div>
          <a href="/about#disclaimer" target="_blank" ngbDropdownItem>Disclaimer</a>
        </div>
      </div>  
    </div>
  </div>

  <!-- this element gets initialized here and moved on initial load -->
  <div *ngIf="windowWidth" class="search-text">
    <fa-icon [icon]="faSearch"></fa-icon>
    {{windowWidth > 384 ? "Find a Status Report" : "Find Status"}}
  </div>

  <div *ngIf="!initialLoadingDone" [@loadingSplash] class="loading-splash">
    <p class="loading-text">Loading...</p>
    <img src="assets/img/covid-watch-256px.png">
    <p class="loading-subtext">
      <br> <em>Data calculated from</em>
      <br> <strong>Johns Hopkins CSSE</strong>
      <br>
      <br> <em>Developed by</em>
      <br> <strong>Cory Leigh Rahman</strong>
    </p>
  </div>

  <div class="map-wrapper">
    <div id="map"></div>
  </div>

  <div class="status-report" *ngIf="panelContent && currentTimeStop"
  [@panelOpenClosed]="infoPanelOpen ? 'open' : 'closed'" #statusReportElement (scroll)="true">
  <!-- For some reason, the very existence of "(scroll)" causes the popovers
    to update to the appropriate position when scrolling the Status Report -->

    <div class="status-report-floating-title"  
    [@ngIfAnimation] *ngIf="infoPanelCloseButton && statusReportElement.scrollTop > 75">
      <span><strong>{{panelContent.title}}</strong>{{panelContent.subtitle ? ", " + panelContent.subtitle : ""}}</span>&nbsp;
      <span class="floating-sub"><em>{{weekDefinitions.list[currentTimeStop.num] + 20}} {{currentTimeStop.num === latestTimeStop.num ? '(Latest)' : '(Historic)'}}</em></span>
    </div>

    <div class="close-panel-background" (click)="closePanel()" *ngIf="infoPanelCloseButton"><fa-icon [icon]="faCircle"></fa-icon></div>
    <div class="close-panel" (click)="closePanel()" *ngIf="infoPanelCloseButton"><fa-icon [icon]="faTimesCircle"></fa-icon></div>

    <div><em>{{currentTimeStop.num === latestTimeStop.num ? '' : 'Historic '}}Status Report for:</em></div>
    <h3>{{panelContent.title}}</h3> <!-- County or State -->
    <h6>{{panelContent.subtitle}}</h6> <!-- State or blank -->
    <p *ngIf="weekDefinitions"><em>{{weekDefinitions.list[currentTimeStop.num] + 20}} {{currentTimeStop.num === latestTimeStop.num ? '(Latest)' : '(Historic)'}}</em></p>
    <!-- <p>{{panelContent.date}}20</p> -->

    <div class="panel-separator"></div>

    <div class="panel-subtitle">Summary</div>
    <p innerHTML="{{panelContent.summary}}"></p>

    <div class="panel-separator"></div>

    <div class="panel-subtitle">New Cases</div>
    <div *ngIf="statusReportChartConfig.lineChartData">
      <canvas baseChart height="200" class="stat-chart"
          [datasets]="statusReportChartConfig.lineChartData" 
          [labels]="statusReportChartConfig.lineChartLabels" 
          [options]="statusReportChartConfig.lineChartOptions"
          [colors]="statusReportChartConfig.lineChartColors" 
          [legend]="statusReportChartConfig.lineChartLegend" 
          [chartType]="statusReportChartConfig.lineChartType" 
          [plugins]="statusReportChartConfig.lineChartPlugins"
          >
        </canvas>
    </div>

    <div *ngIf="initialLoadingDone" class="panel-stats-section">
      <div class="stat-title">New Cases This Week</div>&nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="New Cases This Week"
        ngbPopover="Number of new COVID-19 cases over 7 days from {{weekDefinitions.list[currentTimeStop.num-1]}} to {{weekDefinitions.list[currentTimeStop.num]}}"
        triggers="click"
        placement="auto"
        container="body"
        ></fa-icon>
      <div class="stat-data"><span class="primary-stat">{{panelContent.rate}}</span> ({{panelContent.rateNorm}} per 100k)</div>
      <div class="stat-title">Acceleration</div> (2 Weeks) &nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="Acceleration"
        ngbPopover="The number of more new cases this week compared to 2 weeks ago. Specifically, the difference in weekly rate between the weeks of {{weekDefinitions.list[currentTimeStop.num-2]}} and {{weekDefinitions.list[currentTimeStop.num]}}. Note: negative acceleration is deceleration."
        triggers="click"
        placement="auto"
        container="body"
        ></fa-icon>
      <div class="stat-data"><span class="primary-stat">{{panelContent.acceleration}}</span> ({{panelContent.accelerationNorm}} per 100k)</div>
      <div class="stat-title">Cumulative Cases</div> &nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="Cumulative Cases"
        ngbPopover="Total count of confirmed COVID-19 cases since the beginning"
        triggers="click"
        placement="auto"
        container="body"
        ></fa-icon>
      <div class="stat-data"><span class="primary-stat">{{panelContent.cumulative}}</span></div>

      <div class="panel-separator"></div>

      <div class="stat-title">Deaths This Week</div> &nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="Deaths This Week"
        ngbPopover="Number of deaths due to COVID-19 cases over 7 days from {{weekDefinitions.list[currentTimeStop.num-1]}} to {{weekDefinitions.list[currentTimeStop.num]}}"
        triggers="click"
        placement="auto"
        container="body"
        ></fa-icon>
      <div class="stat-data"><span class="primary-stat">{{panelContent.deathsRate}}</span> ({{panelContent.deathsRateNorm}} per 100k)</div>
      <div class="stat-title">Cumulative Deaths</div> &nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="Cumulative Deaths"
        ngbPopover="Total count of deaths due to COVID-19 since the beginning"
        triggers="click"
        placement="auto"
        container="body"
        ></fa-icon>
      <div class="stat-data"><span class="primary-stat">{{panelContent.deathsCumulative}}</span></div>
      <div class="panel-separator"></div>
    </div>

    <div class="form-group" style="margin-top: 24px">
      <div class="panel-subtitle">Share or Bookmark</div>
      <p>Direct URL to the status report for {{panelContent.title}}{{panelContent.subtitle ? ", " + panelContent.subtitle : ""}}:</p>
      <input readonly class="form-control status-report-link-text"
      value="{{window.location.origin}}?fips={{panelContent.fips}}&name={{replaceSpaces(panelContent.title, '+')}}">
    </div>
    <button (click)="copyText(window.location.origin + '?fips=' + panelContent.fips + '&name=' + replaceSpaces(panelContent.title, '+'))" class="btn btn-secondary">Copy</button>
    &nbsp;
    <a href="{{window.location.origin}}?fips={{panelContent.fips}}&name={{replaceSpaces(panelContent.title, '+')}}" target="_blank"><button class="btn btn-secondary">Open (New Tab)</button></a>
    
  </div>

  <!-- <div class="placeholder-box" style="z-index: 1000; position: absolute; left: 30%; bottom: 20px; width: 40%; height: 60px;">
    <div>Placeholder: Historical Data & Animation Controls</div>
  </div> -->

  <!-- <div class="placeholder-box" style="z-index: 1000; position: absolute; right: 20px; bottom: 20px; width: 240px; height: 180px;">
    <div>Placeholder: Legend
      <br>
      <br> COVID-19 Cases 
      <br> Red = Acceleration
      <br> Blue = Deceleration
    </div>
  </div> -->
  
  <div *ngIf="weekDefinitions && legendColorSchemeData" class="map-legend">
    <div class="btn-group layer-picker-wrapper" [ngClass]="{'info-open': legendLayerInfoOpen}"
      *ngIf="windowWidth < 451 && !infoPanelOpen || windowWidth >= 451">
      <div ngbDropdown container="body" class="layer-picker-part-dropdown">
        <button type="button" id="layer-picker" class="layer-picker layer-picker-button btn btn-secondary btn-sm btn-light" ngbDropdownToggle>
          <!-- <div class="fa-inline layer-picker-fa-icon"><fa-icon [icon]="layerSelection.faIcon"></fa-icon></div> -->
          <span class="legend-label">Display: </span> {{layerSelection.alias}}
        </button>
        <div ngbDropdownMenu aria-labelledby="layer-picker" class="legend-dropdown">
          <a ngbDropdownItem class="dropdown-layer-label">Select a COVID-19 metric:</a>
          <a ngbDropdownItem (click)="changeLayerSelection('ccr')" class="dropdown-layer-option"><div class="fa-inline"><fa-icon [icon]="faVirus"></fa-icon></div> County Case Rate</a>
          <a ngbDropdownItem (click)="changeLayerSelection('cca')" class="dropdown-layer-option"><div class="fa-inline"><fa-icon [icon]="faChartLine"></fa-icon></div> County Case Acceleration</a>
          <a ngbDropdownItem (click)="changeLayerSelection('cr')" class="dropdown-layer-option"><div class="fa-inline"><fa-icon [icon]="faShieldAlt"></fa-icon></div> County Recovery</a>
          <!-- <a ngbDropdownItem (click)="changeLayerSelection('cdr')" class="dropdown-layer-option"><div class="fa-inline"><fa-icon [icon]="faVirus"></fa-icon></div> County Death Rate</a> -->
          <!-- <a disabled ngbDropdownItem (click)="changeLayerSelection('scr')" class="disabled dropdown-layer-option">State Case Rate</a> -->
          <!-- <a disabled ngbDropdownItem (click)="changeLayerSelection('sca')" class="disabled dropdown-layer-option">State Case Acceleration</a> -->
          <!-- <a ngbDropdownItem (click)="changeLayerSelection('sdr')" class="dropdown-layer-option">State Death Rate</a> -->
        </div>
      </div>    
      <button type="button"
      class="layer-picker-part-collapse layer-picker-button btn btn-secondary btn-sm btn-light"
      (click)="legendLayerInfoOpen = !legendLayerInfoOpen"
      title="{{legendLayerInfoOpen ? 'Collapse layer info' : 'Show layer info'}}">
      <span class="layer-picker-fa-icon">
        <fa-icon *ngIf="legendLayerInfoOpen" [icon]="faArrowDown"></fa-icon>
        <fa-icon *ngIf="!legendLayerInfoOpen" [icon]="faInfo"></fa-icon>
      </span>
      </button>
    </div>

    <div class="layer-info" *ngIf="legendLayerInfoOpen && (windowWidth < 451 && !infoPanelOpen || windowWidth >= 451)"><!-- [@layerInfoCollapseAnimation] -->
      <div class="layer-color-scheme">
        <div *ngFor="let item of legendContent.colorSchemeData" class="color-set">
          <div [ngStyle]="mapZoomLevel >= 6 ? {'background-color': item.colorFaded} : {'background-color': item.color}" class="box"></div>{{item.label}}
        </div>
      </div>
      <div class="layer-description">
        <p><strong>Description</strong><br>{{legendContent.layerDescription}}</p>
      </div>
    </div>

    <div *ngIf="currentTimeStop && currentTimeStop.num != undefined && weekDefinitions.list" class="temporal-box">
      <div class="animation-play-pause-button-wrapper">
        <fa-icon *ngIf="animationPaused" (click)="playAnimation()" [icon]="faPlay"></fa-icon>
        <fa-icon *ngIf="!animationPaused" (click)="pauseAnimation()" [icon]="faPause"></fa-icon>
      </div>
      <div *ngIf="currentTimeStop && currentTimeStop.num != undefined" class="time-slider-wrapper">
        <input [(ngModel)]="currentTimeStop.num" (ngModelChange)="timeSliderChange(currentTimeStop.num)" type="range" class="custom-range time-slider" min="0" max="{{weekDefinitions.list.length - 1}}" id="customRange2">
      </div>
      <div class="animation-date">
        {{weekDefinitions.list[currentTimeStop.num]}}
      </div>
    </div>
  </div>


</div>
