
// /* Colors */
// $focus-cyan: hsl(180, 100%, 44%);
// $thumb-color: darken($focus-cyan, 10%);
// $thumb-border-width: 0;
// // $track-width: 80%;
// @import '~input-range-scss/inputrange';
@use '../../sass/time-slider';
@import '../../sass/mixins';

.trend-map-container {
  $header-height: 50px;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available; // Fix for weird iOS height issues
  overflow-x: hide;
  // position: relative;
  @media (max-width: 450px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  .loading-splash {
    position: absolute;
    z-index: 9050;
    top: $header-height;
    left: 0;
    height: calc( 100% - #{$header-height} );
    width: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loading-text {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px;
      margin-right: -20px;
    }
    img {
      height: 256px;
      animation: rotation 30s infinite linear;
    }
    .loading-subtext {
      margin-top: 10px;
      text-align: center;
    }
    a.disclaimer-link {
      color: black;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  
  .header {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    // background-color: rgb(235, 235, 235);
    background-image: linear-gradient(20deg, rgb(222, 222, 222), rgb(222, 222, 222) 40%, rgb(140, 140, 140) /* 40%, hsl(0, 43%, 52%) */); /*45deg*/
    color: black;
    // border-bottom: 2px solid rgb(52, 52, 52);
    box-sizing: border-box;
    box-shadow: 0px 0 10px 5px rgba(0,0,0,0.35), 0px 0 5px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-section {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .logo {
        height: 30px;
        margin-left: 15px;
      }
      .header-title-text {
        font-size: 28px;
        font-family: MiloTE, MiloTESec, Charter, "Bitstream Charter", "Iowan Old Style", "Calisto MT", serif;
        margin-left: 15px;
        white-space: nowrap;
      }
    }
    .about-section {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: black;

      fa-icon {
        margin-left: 5px;
      }

      @media (max-width: 450px) {
        .about-label {
          display: none;
        }
        fa-icon {
          margin-left: 0;
        }  
      }

      .dropdown-layer-label {
        font-weight: 600;
      }
      .dropdown-item-separator {
        width: calc( 100% - 48px );
        border-bottom: 1px solid rgb(220, 220, 220);
        margin: 5px 24px;
        &:hover {
          background-color: transparent;
        }      
      }

      button.dropdown-toggle::after { 
        /* Removes the dropdown carrot */
        content: none; 
      } 
      .btn {
        // padding: 6px;
        margin: 0 6px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
      .btn:focus,.btn:active {
        outline: none !important;
        box-shadow: none;
      }
      // .dropdown-menu {
      //   .dropdown-item {
      //     text-align: right;
      //   }
      // }
     

    }
  }

  .map-wrapper {
    position: absolute;
    top: $header-height;
    // left: 280px; /* Panel Open */
    // width: calc( 100% - 280px ); /* Panel Open  */
    left: 0; // Updated by Angular Animations
    width: 100%; // Updated by Angular Animations
    height: calc( 100% - #{$header-height} );
    background-color: lightgray;

    #map {
      width: 100%;
      height: 100%;
    }
  }

  .status-report {
    position: absolute;
    z-index: 1040;
    top: $header-height;
    left: -280px; // Updated by Angular Animations
    opacity: 0; // Updated by Angular Animations
    width: 280px;
    height: calc( 100% - #{$header-height} );
    background-color: rgb(247, 247, 247);
    padding: 20px 20px 40px 20px;
    box-shadow: 0px 0 20px 5px rgba(0,0,0,0.35), 0px 0 5px 5px rgba(0,0,0,0.1);
    opacity: 1;
    overflow-y: auto;

    @media (max-width: 630px) {
      height: calc( 100% - #{$header-height + 75px} );
    }
    @media (max-width: 450px) {
      height: calc( 100% - #{$header-height + 16px} );
      width: 100%;
    }

    .panel-separator {
      width: 100%;
      border-bottom: 2px solid rgb(220, 220, 220);
      $space: 25px; /* minimum 15px */
      margin-top: $space;
      margin-bottom: $space - 5px;
    }

    .panel-subtitle {
      font-weight: 800;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .panel-summary {
      min-height: 120px;
    }

    .panel-stats-list {
      padding-left: 18px;
    }

    .panel-stats-section {
      .stat-title {
        font-weight: 800;
        margin-top: 6px;
        display: inline-block;
        @include noSelect;
      }
      .stat-data {
        margin-bottom: 8px;
      }
      fa-icon {
        color: rgb(210, 210, 210);
        font-size: 18px;
        cursor: pointer;

        &:hover {
          color: rgb(100, 100, 100);
        }
      }
      .primary-stat {
        font-weight: 600;
      }
    }
    .status-report-link-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }


    .table {
      th, td {
        padding-left: 0;
      }
      // .separate-top {
      //   border-top: 2px solid rgb(52, 52, 52);
      // }
    }

    @mixin close-panel-styles {
      position: fixed;
      top: $header-height + 7px;
      left: 245px;
      cursor: pointer;
      font-size: 20px;
      
      @media (max-width: 450px) {
        left: initial;
        right: 15px;
      }
    }
    
    .close-panel {
      color: rgb(120, 120, 120);
      @include close-panel-styles();
    }
    .close-panel-background {
      color: white;
      @include close-panel-styles();
    }

    .status-report-floating-title {
      position: fixed;
      top: $header-height;
      left: 0;
      width: 280px;
      padding: 10px 35px 5px 20px;
      background-color: white;
      border-bottom: 2px solid rgb(220, 220, 220);

      .floating-sub {
        display: inline-block;
        font-size: 13px;
        min-width: 132px;
      }

      span {
        white-space: nowrap;
      }

      @media (max-width: 450px) {
        width: 100%;
      }

    }

  }

  .map-legend {
    position: absolute;
    z-index: 1048;
    bottom: 25px;
    right: 15px;
    width: 320px;
    height: auto;
    background-color: rgb(247, 247, 247);
    padding: 10px 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    overflow-y: auto;
    border-radius: 10px;
    
    @media (max-width: 450px) {
      bottom: 16px;
      right: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: 0px 0 3px 4px rgba(0,0,0,0.15);
      padding: 0 15px;
      padding-bottom: 5px;
    }
    
    .legend-label {
      font-weight: 600;
    }

    .legend-date {
      color: gray;
      cursor: default;
    }

    // .info-open {
    //   // border-bottom: 1px solid rgb(100, 100, 100);
    //   button.layer-picker {
    //     padding-left: 8px;
    //   }
    // }

    .layer-picker-wrapper {
      margin-left: -1px;
      width: calc( 100% + 2px );
      // border-left: 1px solid rgb(100, 100, 100);
      // border-right: 1px solid rgb(100, 100, 100);

      .layer-picker-fa-icon {
        margin-right: 2px;
        fa-icon {
          color: rgb(120, 120, 120);
        }
      }

      .layer-picker-button {
        // border-bottom: 1px solid rgb(200, 200, 200);
        color: black;
      }
      .layer-picker.layer-picker-button {
        text-align: left;
        padding-left: 0;
      }

      .layer-picker-button {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .layer-picker-part-dropdown {
        width: calc( 100% - 29px );
      }
      .layer-picker-part-collapse {
        width: 29px;
      }
      .layer-picker-fa-icon {
        color: rgb(50, 50, 50);
      }
    }

    .layer-info {
      padding: 10px 15px 15px 15px;
      display: flex;
      flex-direction: row;
      background-color: rgb(232, 232, 232);
      // // // background-color: rgb(255, 255, 255);
      // align-items: flex-start;

      .layer-description {
        margin-top: -3px;
      }
      
      .layer-color-scheme {
        margin-right: 5px;
        min-width: 110px;
        .color-set {
          .box {
            height: 16px;
            width: 16px;
            display: inline-block;
            border: 1px solid rgb(52, 52, 52);
            margin-right: 8px;
            margin-bottom: -3px;
          }
        }
      }
    }
    
  }
  .temporal-box-title {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  .temporal-box {
    position: relative;
    width: 100%;
    height: 35px;
    // margin-bottom: -5px;
    padding: 0;
    overflow-y: auto;
    // border-top: 1px solid gray;

    $temporal-content-top: 10px;
    .animation-play-pause-button-wrapper {
      position: absolute;
      left: 0;
      top: $temporal-content-top;
      cursor: pointer;
      width: 25px;
      height: 20px
    }
    .time-slider-wrapper {
      position: absolute;
      left: 30px;
      top: $temporal-content-top + 1px;
      width: 205px;
      height: 20px;
      @media (max-width: 450px) {
        width: calc( 100% - 80px );
      }    
    }
    .animation-step-buttons {
      @include noSelect;
      position: absolute;
      right: 0px;
      top: $temporal-content-top;
      margin-left: 10px;
      margin-right: -5px;
      height: 20px;
      fa-icon {
        @include noSelect;
        cursor: pointer;
        padding: 0 5px;
        svg {
          @include noSelect;
        }
      }
    }

  }

  .temporal-box-status-report {
    // .animation-date {
    //   margin-bottom: 15px;
    // }
    margin-top: 15px;
    .time-slider-wrapper {
      width: calc( 100% - 80px );
      // @media (max-width: 450px) {
      //   width: calc( 100% - 80px );
      // }
    }
    margin-bottom: 15px;
  }


  .placeholder-box {
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .mobile-hide {
      @media (max-width: 450px) {
        display: none;
      }
  }
}
