.trend-map-container {
  $header-height: 40px;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available; // Fix for weird iOS height issues
  overflow-x: hide;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background-color: rgb(52, 52, 52);
    color: white;

    h3 {
      display: inline-block;
      margin-left: 20px;
    }
    h5 {
      display: inline-block;
      margin-left: 30px;
    }
  }

  .map-wrapper {
    position: absolute;
    top: $header-height;
    // left: 280px; /* Panel Open */
    // width: calc( 100% - 280px ); /* Panel Open  */
    left: 0; // Updated by Angular Animations
    width: 100%; // Updated by Angular Animations
    height: calc( 100% - #{$header-height} );
    background-color: lightgray;

    #map {
      width: 100%;
      height: 100%;
    }
  }

  .info-panel {
    position: absolute;
    z-index: 9000;
    top: $header-height;
    left: -280px; // Updated by Angular Animations
    opacity: 0; // Updated by Angular Animations
    width: 280px;
    height: calc( 100% - #{$header-height} );
    background-color: rgba(240,240,240, 0.9);
    padding: 20px;
    // border-right: 1.5px solid rgb(100, 100, 100);
    box-shadow: 0px 0 20px 5px rgba(0,0,0,0.35), 0px 0 5px 5px rgba(0,0,0,0.1);
    opacity: 1;
    overflow-y: auto;

    .panel-stats-list {
      padding-left: 18px;
    }

    .panel-stats-section {
      .stat-title {
        font-weight: 800;
        margin-top: 15px;
        display: inline-block;
      }
      .primary-stat {
        font-weight: 600;
      }
    }
    .chart-title {
      font-weight: 800;
      margin-top: 15px;
    }


    .table {
      th, td {
        padding-left: 0;
      }
      // .separate-top {
      //   border-top: 2px solid rgb(52, 52, 52);
      // }
    }

    .close-panel {
      position: absolute;
      top: 0px;
      right: 8px;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .placeholder-box {
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}
