
// /* Colors */
// $focus-cyan: hsl(180, 100%, 44%);
// $thumb-color: darken($focus-cyan, 10%);
// $thumb-border-width: 0;
// // $track-width: 80%;
// @import '~input-range-scss/inputrange';
@use '../../sass/time-slider';


.trend-map-container {
  $header-height: 50px;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available; // Fix for weird iOS height issues
  overflow-x: hide;

  .loading-splash {
    z-index: 100000;
    position: absolute;
    top: $header-height;
    left: 0;
    height: calc( 100% - #{$header-height} );
    width: 100%;
    background-color: rgba(160, 160, 160, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 40px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    img {
      height: 256px;
      animation: rotation 30s infinite linear;
    }
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    // background-color: rgb(235, 235, 235);
    background-image: linear-gradient(20deg, rgb(235, 235, 235), rgb(235, 235, 235) 50%, rgb(170, 170, 170) /* 40%, hsl(0, 43%, 52%) */); /*45deg*/
    color: black;
    // border-bottom: 2px solid rgb(52, 52, 52);
    box-sizing: border-box;
    z-index: 9000;
    box-shadow: 0px 0 10px 5px rgba(0,0,0,0.35), 0px 0 5px 5px rgba(0,0,0,0.1);

    .logo {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 30px;
    }

    h3 {
      font-family: MiloTE, MiloTESec, Charter, "Bitstream Charter", "Iowan Old Style", "Calisto MT", serif;
      display: inline-block;
      margin-left: 60px;
      margin-top: 9px;
    }
    h5 {
      display: inline-block;
      margin-left: 30px;
    }
  }

  .map-wrapper {
    position: absolute;
    top: $header-height;
    // left: 280px; /* Panel Open */
    // width: calc( 100% - 280px ); /* Panel Open  */
    left: 0; // Updated by Angular Animations
    width: 100%; // Updated by Angular Animations
    height: calc( 100% - #{$header-height} );
    background-color: lightgray;

    #map {
      width: 100%;
      height: 100%;
    }
  }

  .info-panel {
    position: absolute;
    z-index: 1000;
    top: $header-height;
    left: -280px; // Updated by Angular Animations
    opacity: 0; // Updated by Angular Animations
    width: 280px;
    height: calc( 100% - #{$header-height} );
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0 20px 5px rgba(0,0,0,0.35), 0px 0 5px 5px rgba(0,0,0,0.1);
    opacity: 1;
    overflow-y: auto;

    @media (max-width: 630px) {
      height: calc( 100% - #{$header-height + 75px} );
    }
    @media (max-width: 450px) {
      height: calc( 100% - #{$header-height + 50px} );
      width: 100%;
    }

    .panel-stats-list {
      padding-left: 18px;
    }

    .panel-stats-section {
      .stat-title {
        font-weight: 800;
        margin-top: 15px;
        display: inline-block;
      }
      fa-icon {
        color: rgb(160, 160, 160);
        font-size: 18px;
      }
      .primary-stat {
        font-weight: 600;
      }
    }
    .chart-title {
      font-weight: 800;
      margin-top: 30px;
    }
    .status-report-link-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }


    .table {
      th, td {
        padding-left: 0;
      }
      // .separate-top {
      //   border-top: 2px solid rgb(52, 52, 52);
      // }
    }

    @mixin close-panel-styles {
      position: fixed;
      top: $header-height + 13px;
      left: 245px;
      cursor: pointer;
      font-size: 20px;
      
      @media (max-width: 450px) {
        left: initial;
        right: 15px;
      }
    }
    
    .close-panel {
      color: rgb(120, 120, 120);
      @include close-panel-styles();
    }
    .close-panel-background {
      color: white;
      @include close-panel-styles();
    }
  }

  .map-legend {
    position: absolute;
    z-index: 900;
    bottom: 25px;
    right: 15px;
    width: 320px;
    height: auto;
    background-color: rgb(235,235,235);
    padding: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    overflow-y: auto;
    border-radius: 10px;
    
    @media (max-width: 450px) {
      bottom: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
    }
    

    h5 {
      display: inline-block;
    }
    .legend-date {
      color: gray;
      cursor: default;
    }

    .layer-picker-wrapper {
      margin-left: -1px;
      width: calc( 100% + 2px );

      .layer-picker-button {
        border: 1px solid rgb(200, 200, 200);
        color: rgb(90, 90, 90);
      }
      .layer-picker-button.layer-picker {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .layer-picker-part-dropdown {
        width: calc( 100% - 29px );
      }
      .layer-picker-part-collapse {
        width: 29px;
      }
      .layer-picker-fa-icon {
        color: rgb(120, 120, 120);
      }
    }

    .layer-info {
      padding: 10px 15px 15px 15px;
      display: flex;
      flex-direction: row;
      background-color: rgb(222, 222, 222);
      // // // background-color: rgb(255, 255, 255);
      // align-items: flex-start;

      .layer-description {
        margin-top: -3px;
      }
      
      .layer-color-scheme {
        margin-right: 10px;
        min-width: 110px;
        .color-set {
          .box {
            height: 16px;
            width: 16px;
            display: inline-block;
            border: 1px solid rgb(52, 52, 52);
            margin-right: 8px;
            margin-bottom: -3px;
          }
        }
      }
    }
    
    .temporal-box {
      position: relative;
      width: 100%;
      height: 40px;
      margin-bottom: -10px;
      padding: 0;
      overflow-y: auto;
      // border-top: 1px solid gray;
  
      $temporal-content-top: 12px;
      .animation-play-pause-button-wrapper {
        position: absolute;
        left: 0;
        top: $temporal-content-top;
        cursor: pointer;
        width: 25px;
        height: 20px
      }
      .time-slider-wrapper {
        position: absolute;
        left: 30px;
        top: $temporal-content-top + 1px;
        width: 185px;
        height: 20px;
      }
      .animation-date {
        position: absolute;
        right: 0px;
        top: $temporal-content-top;
        margin-left: 10px;
        height: 20px;
      }
  
    }
  }


  .placeholder-box {
    background-color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}
