<div class="trend-map-container">

  <div class="header">
    <h3>COVID-19 Trend Map</h3>
    <h5> ALPHA // WORK IN PROGRESS</h5>
  </div>

  <div class="map-wrapper">
    <div id="map"></div>
  </div>

  <div class="info-panel" [@panelOpenClosed]="infoPanelOpen ? 'open' : 'closed'">

    <div class="close-panel" (click)="closePanel()">x</div>

    <div><em>Status Report for:</em></div>
    <h4>{{panelContent.title}}</h4> <!-- County or State -->
    <h6>{{panelContent.subtitle}}</h6> <!-- State or blank -->
    <!-- <p>{{panelContent.date}}20</p> -->
    <br>

    <p innerHTML="{{panelContent.summary}}"></p>

    <div *ngIf="initialLoadDone" class="panel-stats-section">
      <div class="stat-title">Rate</div> (1 Week) &nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="1-Week COVID-19 Case Rate"
        ngbPopover="Number of new COVID-19 cases from {{weekDefinitions.list[currentTimeStop.num-1]}} to {{weekDefinitions.list[currentTimeStop.num]}}"
        triggers="mouseenter:mouseleave"
        placement="right"
        container="body"
        ></fa-icon>
      <div><span class="primary-stat">{{panelContent.rate}}</span> ({{panelContent.rateNorm}} per 100k)</div>
      
      <div class="stat-title">Acceleration</div> (2 Weeks) &nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="2-Week COVID-19 Case Acceleration"
        ngbPopover="How many more new cases this week compared to the previous week, i.e. the difference in weekly rate from {{weekDefinitions.list[currentTimeStop.num-2]}} to {{weekDefinitions.list[currentTimeStop.num]}}. Note: negative acceleration is deceleration."
        triggers="mouseenter:mouseleave"
        placement="right"
        container="body"
        ></fa-icon>
      <div><span class="primary-stat">{{panelContent.acceleration}}</span> ({{panelContent.accelerationNorm}} per 100k)</div>
      
      <div class="stat-title">Cumulative</div> &nbsp;<fa-icon
        [icon]="faInfoCircle"
        popoverTitle="Cumulative COVID-19 Case Count"
        ngbPopover="Total count of confirmed COVID-19 cases since the beginning"
        triggers="mouseenter:mouseleave"
        placement="right"
        container="body"
        ></fa-icon>
      <div><span class="primary-stat">{{panelContent.cumulative}}</span></div>
    </div>

    <br>
    <br>

    <div class="placeholder-box" style="width: 100%; height: 150px;">
      <div>Placeholder: graph of previous month</div>
    </div>
    <br>
    <div class="placeholder-box" style="width: 100%; height: 100px;">
      <div>Placeholder: Share a link to this Status Report</div>
    </div>

  </div>

  <div class="placeholder-box" style="z-index: 1000; position: absolute; left: 30%; bottom: 20px; width: 40%; height: 60px;">
    <div>Placeholder: Historical Data & Animation Controls</div>
  </div>

  <div class="placeholder-box" style="z-index: 1000; position: absolute; right: 20px; bottom: 20px; width: 240px; height: 180px;">
    <div>Placeholder: Legend
      <br>
      <br> COVID-19 Cases 
      <br> Red = Acceleration
      <br> Blue = Deceleration
    </div>
  </div>


</div>
