/* Global styles & overrides */

/* Imports */
@import "~leaflet/dist/leaflet.css";
@import '~bootstrap/scss/bootstrap';
@import '~leaflet-geosearch/dist/geosearch.css';

/* Global Styles */

html, body {
  background-color: darkgray;
  // overflow-y: hidden;
}

/* Leaflet modifications */
.leaflet-popup-content {
  font-size: 14px;
  .popup-place-title {
    font-size: 16px;
  }
  .status-report-label {
    margin: 10px 0 10px 0;
  }
  .popup-status-report-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    
    @mixin popup-status-report-btn {
      width: 80px;
      border: 1px solid rgb(200, 200, 200);
      color: rgb(90, 90, 90);
      display: inline-block;
    }
    .popup-status-report-btn-local {
      @include popup-status-report-btn();
    }
    .popup-status-report-btn-state {
      @include popup-status-report-btn();
      margin-left: 5px;
    }
  }
  .popup-fips-label {
    color: white;
  }
}
.leaflet-control-attribution {
  @media (max-width: 450px) {
    display: none;
  }
}

$leaflet-geosearch-label-width-standard: 140px;
$leaflet-geosearch-label-width-mobile: 105px;

.search-text {
  /* This element gets moved, best to scope it globally */
  font-weight: 600;
  // padding: 5px;
  // background-color: rgba(255, 255, 255, 0.7);
  // border-top-left-radius: 4px;
  // border-top-right-radius: 4px;
  display: inline-block;
  width: $leaflet-geosearch-label-width-standard;
  @media (max-width: 384px) {
    width: $leaflet-geosearch-label-width-mobile;
  }
  
  // box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.65);
  // border-top: 2px solid rgb(120, 120, 120);
  // border-right: 2px solid rgb(120, 120, 120);
  // border-left: 2px solid rgb(120, 120, 120);
}
.leaflet-geosearch-bar form {
  margin-top: 15px;
  input {
    display: inline-block;
    margin: 4px 0 4px 0;
    background-color: rgb(240, 240, 240);
    width: calc( 100% - #{$leaflet-geosearch-label-width-standard + 15px } );
    min-width: calc( 100% - #{$leaflet-geosearch-label-width-standard + 15px} );
    @media (max-width: 384px) {
      width: calc( 100% - #{$leaflet-geosearch-label-width-mobile + 15px } );
      min-width: calc( 100% - #{$leaflet-geosearch-label-width-mobile + 15px } );
    }
  }
  .reset {
    background-color: initial;
    margin-top: 4px;
  }
}
// .geosearch-form {
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

/* Bootstreap modifications */
.popover {
  z-index: 10000;
  border-radius: 10px;
  .popover-header {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
}
.dropdown-menu {
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border: 1px solid rgb(120, 120, 120);
}
.dropdown-layer-label {
  // font-weight: 600;
  font-style: italic;
  &:hover {
    background-color: transparent;
  }
}
.dropdown-layer-option {
  border-top: 1px solid rgb(200, 200, 200);
  cursor: pointer !important;
  font-weight: 600;
  &.disabled {
    background-color: rgb(240, 240, 240);
    font-style: italic;
  }
}
.fa-inline {
  display: inline-block;
  width: 20px;
}

/* Chart js modifications */
.stat-chart {
  width: 100%;
  height: 150px;
}

/* CSS Animations */
@keyframes rotation {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(314deg);
  }
}

/* Scroll Bar */
// ::-webkit-scrollbar {
//   -webkit-appearance: auto;
//   width: 10px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, .5);
//   box-shadow: 0 0 1px rgba(255, 255, 255, .5);
// }
