/* You can add global styles to this file, and also import other style files */

/* Imports */
@import "~leaflet/dist/leaflet.css";
@import '~bootstrap/scss/bootstrap';
@import '~leaflet-geosearch/dist/geosearch.css';

/* Global Styles */

html {
  background-color: darkgray;
}

/* Leaflet modifications */
.leaflet-popup-content {
  font-size: 14px;
  .popup-place-title {
    font-size: 16px;
  }
  .popup-status-report-btn-wrapper {
    margin-top: 10px;
    width: 100%;
    .popup-status-report-btn {
      width: 100%;
      border: 1px solid rgb(200, 200, 200);
      color: rgb(90, 90, 90);
    }
  }
  .popup-fips-label {
    color: white;
  }
}

/* Bootstreap modifications */
.popover {
  z-index: 10000;
  border-radius: 10px;
  .popover-header {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
}

.stat-chart {
  width: 100%;
  height: 150px;
}
